@import "tailwindcss";

@layer base {
  body {
    /* Gunakan hitam pekat kamu */
    background-color: #050505;
    color: white;
    @apply antialiased overflow-x-hidden;

    /* Background Dot Pattern yang lebih halus */
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    );
    background-size: 30px 30px;
  }
}

/* Tambahkan efek cahaya hijau halus di background (Opsional) */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle at 10% 20%,
      rgba(16, 185, 129, 0.05),
      transparent 40%
    ),
    radial-gradient(
      circle at 90% 80%,
      rgba(16, 185, 129, 0.05),
      transparent 40%
    );
  z-index: -1;
}
